# Ignore Python cache and virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
venv*/
.venv*/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter checkpoints if any
.ipynb_checkpoints/

# Ignore any model files or large data
*.h5
*.pkl
*.joblib
*.tflite
